*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .main_content{
    width: 40%;
    min-width: 800px;
    position: relative;
    transform: translateX(-50%);
    /* top: 20%; */
    /* left: 20%; */
    /* padding: 30px 40px; */
   
 /* } */ 
body{
 background-color: whitesmoke;   
 display:flex;
 flex-direction: column;
}

#canvas{
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
}
.drawingBox{
    background-color: violet;
    border:1px solid black;
    display: flex;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* for every element inside .drawingBox */
.drawingBox>*{
    border: none;
    font-size: 30px;
    padding: 5px;
    margin: 0 100px;
    height: 50px;
    width: 50px;

}